@import "_variables.scss";
@import "_fonts.scss";
@import "_bootstrap.scss";
@import "../../distr/owl.carousel/dist/assets/owl.carousel.min.css";
@import "../../distr/font-awesome/css/font-awesome.min.css";


.header_line {
	margin-top:30px;
	}
.logo_line{
	margin-bottom: 28px;
}
.nav{
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  line-height: 2.14;
  text-align: center;
  color: #202020;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
	 background-color: #eaecf0;
	  color: #0049b0;
}
a {
    color: #202020;
}
h1 {
	text-align: center;
  }
.block h1 {
		margin-top: 101px;
		margin-bottom: 44px;
	text-align: center;
}
.buttons  {
	text-align: center;
}
.buttons  button{
margin-left: 20px;
width: 109px;
height: 45px;
border-radius: 2px;
font-family: Montserrat;
font-size: 14px;
letter-spacing: 0.7px;
}

.btn-primary {
    color: #fff;
    background-color: #0049b0;;
    border-color: #2e6da4;
}

.def {
	border-radius: 2px;
   background-color: #ffffff;
   border: solid 1px #0049b0;
	 color: #0049b0;
}
.btn-success{
	  background-color: #34bf49;
}
.btn-info{
	background-color: #6dcff6;
}
.btn-warning{
	background-color: #f49a9e;
}
.btn-danger{
	background-color: #ed1c24;
}

.checkbox{
font-family: OpenSans;
 font-size: 15px;
 text-align: left;
 color: #5e5d5c;
 }
 // .chk{
 //  width: 16px;
 //   height: 16px;
 //   background-color: #ffffff;
 //   border: solid 1px #31a5e7;
 // }

 .checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
  	border: solid 1px #464646;
    // border-radius: .25em;
		width: 16px;
	  height: 16px;
    float: left;
    margin-right: .5em;
		color: #31a5e7;
}
.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}
.checkbox .cr .cr-icon{
	margin-left: -2px;
}

// .radio .cr .cr-icon {
//     margin-left: 0.04em;
// }

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {

    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {

    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  // display: inline-block;
  width: 47px;
  height: 20px;

}

/* Hide default HTML checkbox */
.switch input {display:none;
   }
.sw {
	margin-left: 60px;
	font-family: OpenSans;
 font-size: 15px;
 text-align: left;
 color: #5e5d5c;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.sw1{
	  background-color: #34bf49;
}
.sw2{
	 background-color: #f49a9e;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked{
border: solid 1px #31a5e7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}
.starrr{
	color: #e7ab65;
}
 // Footer

.main-footer{
	padding: 53px;
	margin-bottom: 50px;
	font-size: 16px;
  background-color: #f4f5f7;
	font-family: Roboto;
	text-align: left;
	line-height: 40px;

}

.main-footer span {

}
.main-footer span:hover{
    font-weight: bold;
}​


.social{
	color: #000;
}

li{
	list-style-type: none;
	text-align:left;
}

span{
		text-align:left;
}

// .form-control {
// 	height: 38px;
// 	border-radius: 0px;
// 	border: 1px solid #a1a1a1;
// }

.form-control {
  width: 368px;
  height: 33px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #a1a1a1;
}
.src{
	width: 76px;
height: 33px;
border-radius: 2px;
background-color: #0049b0;
font-size: 17px;
margin: 0px;
}
.input-group .form-control{
	width: 292px;

}
.header_search{
	margin-top: 14px;
}
